body {
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
}

#screensaver-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2,
    #4a00e0,
    #8e2de2,
    #4a00e0
  );
  background-size: 200% 100%;
  animation: aurora-animation 10s infinite linear;
  z-index: -1; /* Ensure it's behind other content */
}

#back-link-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100; /* Ensure it's on top */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

#back-link-container a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
}

#back-link-container a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes aurora-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

body:hover #back-link-container {
  opacity: 1;
}
